/*Tipografía importada de google fonts*/
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');


/*Background del HTML*/
html{
    background-color: #0A5C36;
}

/*Background del noAki.html*/
.noAki_html{
    background-image: url(../imagenes/ORK_WALLPAPER_1.jpg);
}

/*Modificaciones al navbar*/
.navbar-brand
{
  font-size: 50px;
  filter: brightness(0) invert(1);
  background-color: rgba(0, 0, 0, 0.062);
}

.navbar{
    font-size: 25px;
}

/*Colores y cambios del body*/
body {
    font-family: "MedievalSharp", cursive;
    background-color: #0A5C36;
    color: white;
}


.titulo{
    background-color: #18392B;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.body_de_no_aki{
    display: flex;
    justify-content: center;
    background-color: #18392b11;
}

/* Grid para la tienda de tragos*/

#tragos {
    display: grid;
    grid-template-rows: repeat(2, 1fr); 
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
  }
  
/*Manejos de cosas aledañas*/

.good{
    font-size: 30px;
}

.container_2{
    background-color: #18392B;
}

.card-img-top{
    width: 25%;
}

.games_text{
    color: rgb(255, 255, 255);
}