/*Tipografía importada de google fonts*/
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');


/*Background del HTML*/
html{
    background-color: #e5ebe8;
}

/*Modificaciones al navbar*/
.navbar-brand
{
  font-size: 50px;
  filter: brightness(0) invert(1);
  background-color: rgba(0, 0, 0, 0.062);
}

.navbar{
    font-size: 25px;
}

/*Colores y cambios al body*/
body {
    font-family: "MedievalSharp", cursive;
    background-color: #0A5C36;
    color: white;
}


.titulo{
    background-color: #18392B;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.container{
    background-color: #0A5C36;
}

.container_2{
    background-color: #18392B;
}

.card-img-top{
    width: 25%;
}

.games_text{
    color: rgb(255, 255, 255);
}